/*Estilos propios*/
#logo {
  width: 20%;
}

.nav-item {
  color:#999999;
}

#search{
  display: none;
}

#generalResults{
  display: none;
}

#btnGo {
  width: 2rem;
}

button{
  border: none;
  text-align: center;
  background: #ffc107;
  color: black;
}

.navbar{
    background-color: white;
}

.navbar-toggler {
  background: #ffc107;
}

h4{
  color: #999999;
  text-transform: uppercase;
}

#nameList{
  border: #999999 1px solid;
}

.firstData {
  margin-left: 1rem;
}

.secondData {
  margin-left: 1rem;
}
