/*Estilos propios*/
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navStyle{
  width: 100%;
}

#logo {
  width: 20%;
}

.nav-item {
  color:#999999;
}

#search{
  display: none;
}

#generalResults{
  display: none;
}

#btnGo {
  width: 2rem;
}

button{
  border: none;
  text-align: center;
  background: #ffc107;
  color: black;
}

.navbar{
  width: 100%;
  background-color: white;
}

.navbar-toggler {
  background: #ffc107;
}

h4{
  color: #999999;
  text-transform: uppercase;
}

#nameList{
  border: #999999 1px solid;
}

.scrollDiv{
  overflow-x: scroll;
}

.firstData {
  width: 100%;
}

.secondData {
  width: 100%;
}